USE [master]
GO
/****** Object:  Database [QR_Code]    Script Date: 11/22/2025 5:08:09 PM ******/
CREATE DATABASE [QR_Code]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QR_Code', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QR_Code.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QR_Code_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QR_Code_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QR_Code].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QR_Code]
GO
/****** Object:  Table [dbo].[Attendees_Name]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendees_Name](
	[UNI_ID] [varchar](12) NOT NULL,
	[Lecture_ID] [int] NOT NULL,
 CONSTRAINT [Attendees_pk] PRIMARY KEY CLUSTERED 
(
	[UNI_ID] ASC,
	[Lecture_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coordinators_Sub_Admin]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coordinators_Sub_Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Specialization] [varchar](30) NOT NULL,
	[Phone_Number] [varchar](15) NULL,
	[email] [varchar](35) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [coordinators_Sub_Admin_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[ID_course] [varchar](8) NOT NULL,
	[Cours_Name] [varchar](50) NOT NULL,
	[Symbol_course] [varchar](6) NOT NULL,
	[Credt_Hour] [int] NULL,
	[Absence_point] [int] NULL,
	[Courses_type] [varchar](3) NOT NULL,
 CONSTRAINT [Courses_pk] PRIMARY KEY CLUSTERED 
(
	[ID_course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dean_of_colleges_Admin]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dean_of_colleges_Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Specialization] [varchar](30) NOT NULL,
	[Phone_Number] [varchar](15) NULL,
	[email] [varchar](35) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [Dean_of_colleges_Admin_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture_Time]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture_Time](
	[Lecture_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_course] [varchar](8) NOT NULL,
	[ID_DR] [int] NOT NULL,
	[Lecture_Date] [date] NULL,
	[Start_Time] [time](7) NULL,
	[End_Time] [time](7) NULL,
 CONSTRAINT [Lecture_Time_pk] PRIMARY KEY CLUSTERED 
(
	[Lecture_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Name_Student_Cours]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Name_Student_Cours](
	[UNI_ID] [varchar](12) NOT NULL,
	[ID_course] [varchar](8) NOT NULL,
 CONSTRAINT [Student_Courses_pk] PRIMARY KEY CLUSTERED 
(
	[UNI_ID] ASC,
	[ID_course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[UNI_ID] [varchar](12) NOT NULL,
	[PASS] [varchar](50) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Phone_Number] [varchar](15) NULL,
	[email] [varchar](35) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Branch] [varchar](30) NOT NULL,
 CONSTRAINT [students_pk] PRIMARY KEY CLUSTERED 
(
	[UNI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNI_Doctors]    Script Date: 11/22/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNI_Doctors](
	[ID_DR] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Specialization] [varchar](30) NOT NULL,
	[Phone_Number] [varchar](15) NULL,
	[email] [varchar](35) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [UNI_Doctors_pk] PRIMARY KEY CLUSTERED 
(
	[ID_DR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[coordinators_Sub_Admin] ON 

INSERT [dbo].[coordinators_Sub_Admin] ([ID], [Full_Name], [Specialization], [Phone_Number], [email], [Address]) VALUES (1, N'lila', N'IE', N'1233214567', N'l@gmail.com', N'malki')
SET IDENTITY_INSERT [dbo].[coordinators_Sub_Admin] OFF
GO
INSERT [dbo].[Courses] ([ID_course], [Cours_Name], [Symbol_course], [Credt_Hour], [Absence_point], [Courses_type]) VALUES (N'CSE515', N'Microprocessors and Microcontrollers', N'MM', 3, 10, N'T,P')
INSERT [dbo].[Courses] ([ID_course], [Cours_Name], [Symbol_course], [Credt_Hour], [Absence_point], [Courses_type]) VALUES (N'ICF315', N'Introduction to Economics', N'IE', 2, 7, N'T')
INSERT [dbo].[Courses] ([ID_course], [Cours_Name], [Symbol_course], [Credt_Hour], [Absence_point], [Courses_type]) VALUES (N'SWE534', N'Data Mining', N'DM', 3, 10, N'T,P')
GO
SET IDENTITY_INSERT [dbo].[Dean_of_colleges_Admin] ON 

INSERT [dbo].[Dean_of_colleges_Admin] ([ID], [Full_Name], [Specialization], [Phone_Number], [email], [Address]) VALUES (1, N'mutasim shafaamri', N'IT', N'2345678909', N'mu@gmai.com', N'hamish')
SET IDENTITY_INSERT [dbo].[Dean_of_colleges_Admin] OFF
GO
INSERT [dbo].[Students] ([UNI_ID], [PASS], [Full_Name], [Phone_Number], [email], [Address], [Branch]) VALUES (N'202110123', N'majd123', N'majd kadri', N'0962173204', N'mm@gmail.com', N'shnaia', N'IT')
INSERT [dbo].[Students] ([UNI_ID], [PASS], [Full_Name], [Phone_Number], [email], [Address], [Branch]) VALUES (N'202110367', N'mahmod123', N'mahmod alagha', N'0947187200', N'm@gmail.com', N'Altal', N'IT')
INSERT [dbo].[Students] ([UNI_ID], [PASS], [Full_Name], [Phone_Number], [email], [Address], [Branch]) VALUES (N'202110803', N'ahmad123', N'ahmad aziz', N'0964590093', N'aa@gmail.com', N'rknaldin', N'IT')
GO
SET IDENTITY_INSERT [dbo].[UNI_Doctors] ON 

INSERT [dbo].[UNI_Doctors] ([ID_DR], [Full_Name], [Specialization], [Phone_Number], [email], [Address]) VALUES (1, N'mohamad', N'IT', N'1234567890', N'mmm@gmail.com', N'damas')
INSERT [dbo].[UNI_Doctors] ([ID_DR], [Full_Name], [Specialization], [Phone_Number], [email], [Address]) VALUES (2, N'ali', N'IT', N'0987654321', N'aaa@gmail.com', N'mnin')
SET IDENTITY_INSERT [dbo].[UNI_Doctors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [coordinators_Sub_Admin_email_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[coordinators_Sub_Admin] ADD  CONSTRAINT [coordinators_Sub_Admin_email_unique] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [coordinators_Sub_Admin_Phone_Number_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[coordinators_Sub_Admin] ADD  CONSTRAINT [coordinators_Sub_Admin_Phone_Number_unique] UNIQUE NONCLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Dean_of_colleges_Admin_email_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[Dean_of_colleges_Admin] ADD  CONSTRAINT [Dean_of_colleges_Admin_email_unique] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Dean_of_colleges_Admin_Phone_Number_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[Dean_of_colleges_Admin] ADD  CONSTRAINT [Dean_of_colleges_Admin_Phone_Number_unique] UNIQUE NONCLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Lecture_Time_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[Lecture_Time] ADD  CONSTRAINT [Lecture_Time_unique] UNIQUE NONCLUSTERED 
(
	[Lecture_Date] ASC,
	[Start_Time] ASC,
	[ID_course] ASC,
	[ID_DR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [students_email_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [students_email_unique] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [students_Phone_Number_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [students_Phone_Number_unique] UNIQUE NONCLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNI_Doctors_email_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[UNI_Doctors] ADD  CONSTRAINT [UNI_Doctors_email_unique] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNI_Doctors_Phone_Number_unique]    Script Date: 11/22/2025 5:08:10 PM ******/
ALTER TABLE [dbo].[UNI_Doctors] ADD  CONSTRAINT [UNI_Doctors_Phone_Number_unique] UNIQUE NONCLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendees_Name]  WITH CHECK ADD  CONSTRAINT [Attendees_lecture_FK] FOREIGN KEY([Lecture_ID])
REFERENCES [dbo].[Lecture_Time] ([Lecture_ID])
GO
ALTER TABLE [dbo].[Attendees_Name] CHECK CONSTRAINT [Attendees_lecture_FK]
GO
ALTER TABLE [dbo].[Attendees_Name]  WITH CHECK ADD  CONSTRAINT [Attendees_student_FK] FOREIGN KEY([UNI_ID])
REFERENCES [dbo].[Students] ([UNI_ID])
GO
ALTER TABLE [dbo].[Attendees_Name] CHECK CONSTRAINT [Attendees_student_FK]
GO
ALTER TABLE [dbo].[Lecture_Time]  WITH CHECK ADD  CONSTRAINT [cuorse_DR_fk] FOREIGN KEY([ID_DR])
REFERENCES [dbo].[UNI_Doctors] ([ID_DR])
GO
ALTER TABLE [dbo].[Lecture_Time] CHECK CONSTRAINT [cuorse_DR_fk]
GO
ALTER TABLE [dbo].[Lecture_Time]  WITH CHECK ADD  CONSTRAINT [Lecture_course_FK] FOREIGN KEY([ID_course])
REFERENCES [dbo].[Courses] ([ID_course])
GO
ALTER TABLE [dbo].[Lecture_Time] CHECK CONSTRAINT [Lecture_course_FK]
GO
ALTER TABLE [dbo].[Name_Student_Cours]  WITH CHECK ADD  CONSTRAINT [ID_course_FK] FOREIGN KEY([ID_course])
REFERENCES [dbo].[Courses] ([ID_course])
GO
ALTER TABLE [dbo].[Name_Student_Cours] CHECK CONSTRAINT [ID_course_FK]
GO
ALTER TABLE [dbo].[Name_Student_Cours]  WITH CHECK ADD  CONSTRAINT [UNI_ID_FK] FOREIGN KEY([UNI_ID])
REFERENCES [dbo].[Students] ([UNI_ID])
GO
ALTER TABLE [dbo].[Name_Student_Cours] CHECK CONSTRAINT [UNI_ID_FK]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [Courses_type_chk] CHECK  (([Courses_type]='T,P' OR [Courses_type]='P' OR [Courses_type]='T'))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [Courses_type_chk]
GO
USE [master]
GO
